@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF7ED;
}

a {
  text-decoration: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #FFF7ED;
}
::-webkit-scrollbar-thumb {
  background: #FFD708;
  border-radius: 3px;
}
